<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
        <h4>Index</h4>
          <li class="{% if page.title == 'About Us' %}current{% endif %}">
            <a href="/about/">All Members</a>
          </li>
          <li class="{% if page.title == 'teachers' %}current{% endif %}">
            <a href="/about/teacher/">teachers</a>
          </li>
          <li class="{% if page.title == 'student' %}current{% endif %}">
            <a href="/about/student/">student</a>
          </li>
    </ul>
  </aside>
</div>
