<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == 'blog' %}current{% endif %}">
        <a href="/blog/">All blog</a>
      </li>
      <li class="{% if page.url contains 'work' %}current{% endif %}">
        <a href="/blog/thinking/">work</a>
      </li>
      <li class="{% if page.url contains 'tools' %}current{% endif %}">
        <a href="/blog/books/">tools</a>
      </li>
      <li class="{% if page.url contains 'concept' %}current{% endif %}">
        <a href="/blog/books/">concept</a>
      </li>
      <li class="{% if page.url contains 'toys' %}current{% endif %}">
        <a href="/blog/books/">toys</a>
      </li>
    </ul>
    <h4>Recent Posted</h4>
    <ul>
      {% for post in site.posts limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </aside>
</div>
